sudo docker pull your_registry_here/slack-trello:latest

sudo docker stop slack-trello-prod

sudo docker rm slack-trello-prod

sudo docker run --name slack-trello-prod \
  -p 3000:3000 \
  -e TRELLO_DEVELOPER_PUBLIC_KEY=your_key_here \
  -e TRELLO_MEMBER_TOKEN=your_token_here \
  -e SLACK_WEBHOOK_URL=your_url_here \
  -e SLACK_WORK_COMMAND_TOKEN=your_token_here \
  -d codelittinc/slack-trello:lastest 

sudo docker start slack-trello-prod

