#!/bin/bash

set -e

cp Dockerfile.production Dockerfile
docker build -t YOUR_REGISTRY/slack-trello .
rm Dockerfile
docker push YOUR_REGISTRY/slack-trello:latest

#Pipe commands from this file into the server
#Example of the contents of this file are in prod_server.sh.example
cat prod_server.sh | ssh -t -t your_user@YOUR_SERVER_IP

